Package: chromebooks-in-deutschland-service
Version: 70
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Depends: docker-ce | docker | docker.io
Description: chromebooks in deutschland price update service
 Needs api key in /etc/chromebooks-in-deutschland.env like this
 CID_API_KEY=...
