[Unit]
Description=Update prices for chromebooks in deutschland for %I
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/chromebooks-in-deutschland.env
# Using the prod/dev %i parameter as Docker image tag and host selector
Environment=IMAGE=ghcr.io/schlomo/chromebooks-in-deutschland:%i
ExecStartPre=/usr/bin/docker pull --quiet ${IMAGE}
Environment=HOME=/root
ProtectHome=tmpfs
ExecStart=/usr/bin/docker run \
	--rm \
        -e CID_API_URL=https://%i.chromebooks-in-deutschland.de/api \
        -e CID_API_KEY \
        ${IMAGE}
TimeoutSec=10
