html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#header {
  padding: 0.1em 0.2em 0.5em 0.2em;
  border-bottom: 1px solid black;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

#logo {
  float: left;
  margin-right: 1em;
  font-weight: bold;
  font-size: 160%;
}
#logo img {
  height: 1em;
  vertical-align: middle;
}

.box-right {
  text-align: right;
  flex-grow: 1;
  margin: auto;
}

#version::after {
  color: darkgrey;
}


#main {
  background-color: rgba(255, 255, 224, 0.4);
  padding: 1em;
}

#footer {
  padding: 0.5em 0.2em 0.1em 0.2em;
  border-top: 1px solid black;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.devicelinks a, .devicelinks a:visited, .devicelinks a:active {
  text-decoration: none;
  font-size: 150%;
  margin-right: 0.3em;
}

.devicelinks a:hover {
  background-color: lightblue;
}

.extralinks-content {
  padding-top: 0.1em;
}

.extralinks-content a {
  display: block;
}

.extralinks-content a:hover {
  background-color: lightblue;
}

#notices {
  margin-top: 2px;
  text-align: justify;
  font-style: italic;
}

.dataTables_wrapper .dataTables_filter {
  float: none;
  text-align: center;
  border-style: groove;
  padding: 0.2em;
  _border: 2px solid darkgray;
  border-radius: 1em;
}

table.dataTable tbody td {
  outline: none;
}

table#chromebooks tr.even {
  background-color: #fafafa;
}

#chromebooks_filter a, #chromebooks_filter a:visited, #chromebooks_filter a:hover, #chromebooks_filter a:active {
  /* the links for search examples shouldn't change after clicking */
  color: blue;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

p {
  text-align: justify;
}

.quote {
  margin: 0 2em 0 2em;
  font-size: 120%;
  font-style: italic;
  box-shadow: bisque;
}

.quote::before {
  content: "“";
  font-family: serif;
  font-size: 200%;
  float: left;
  margin-right: 0.4em;
}

.quote::after {
  content: "”";
  font-family: serif;
  font-size: 200%;
  float: right;
  margin-left: 0.4em;
}

dt {
  font-weight: bold;
  margin: 1em 0 1em 0;
}

dd {
  text-align: justify;
}

.dumpzone {
  padding: 0.5em;
  margin-top: 0.3em;
  padding-top: 0;
  border: 0.5em solid rgb(236, 246, 250);
  border-top: 1px solid black;
}

#chromebooks {
  width: 100%;
}
.waitrow {
  background: darkgray;
  height: 3em;
  vertical-align: middle;
}
.waitcell {
  text-align: center;
  color: rgba(255, 255, 224);
  font-size: 2em;
  font-style: italic;
}