html, body {
  margin: 0;
  padding: 0;
}

#header {
  padding: 0.1em 0.2em 0.5em 0.2em;
  border-bottom: 1px solid black;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

#logo {
  float: left;
  margin-right: 1em;
  font-weight: bold;
  font-size: 160%;
}
#logo img {
  height: 1em;
  vertical-align: middle;
}

.box-right {
  text-align: right;
  flex-grow: 1;
  margin: auto;
}

#version::after {
  color: darkgrey;
}


#main {
  background-color: lightyellow;
  padding: 1em;
}

#footer {
  padding: 0.5em 0.2em 0.1em 0.2em;
  border-top: 1px solid black;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.devicelinks a, .devicelinks a:visited, .devicelinks a:active {
  text-decoration: none;
  font-size: 150%;
}

.devicelinks a:hover {
  background-color: lightblue;
}


#notices {
  margin-top: 2px;
  text-align: justify;
  font-style: italic;
}

.dataTables_wrapper .dataTables_filter {
  float: none;
  text-align: center;
}

table.dataTable tbody td {
  outline: none;
}

table#chromebooks tr.even {
  background-color: #fafafa;
}

#chromebooks_filter a, #chromebooks_filter a:visited, #chromebooks_filter a:hover, #chromebooks_filter a:active {
  /* the links for search examples shouldn't change after clicking */
  color: blue;
}

h1 {
  font-size: 150%;
}

p {
  text-align: justify;
}